<div id="main" class="container">
	<h1 style="text-align: center">
		{{synth.roots[synth.note % 12].name}} ({{synth.note}})
	</h1>
	<div class="row clearfix">
		<div class="half">
			<div class="row clearfix">
				<div class="half">
					Top: {{percents[0].toFixed(2)}}%
					<div class="bar"><div data-ng-style="{width:percents[0] + '%'}"></div></div>
				</div>
				<div class="half">
					Bottom: {{percents[1].toFixed(2)}}%
					<div class="bar"><div data-ng-style="{width:percents[1] + '%'}"></div></div>
				</div>
			</div>
			AVG: {{avgL.toFixed(2)}}%
			<div class="bar"><div data-ng-style="{width:avgL + '%'}"></div></div>
		</div>
		<div class="half right">
			<div class="row clearfix">
				<div class="half">
					Top: {{percents[2].toFixed(2)}}%
					<div class="bar"><div data-ng-style="{width:percents[2] + '%'}"></div></div>
				</div>
				<div class="half">
					Bottom: {{percents[3].toFixed(2)}}%
					<div class="bar"><div data-ng-style="{width:percents[3] + '%'}"></div></div>
				</div>
			</div>
			AVG: {{avgR.toFixed(2)}}%
			<div class="bar"><div data-ng-style="{width:avgR + '%'}"></div></div>
		</div>
	</div>
	<div class="row clearfix">
		<div data-ng-if="mode === 'synth'">
			<div class="buttons">
				Root:<br>
				<ul class="notes clearfix">
					<li data-ng-repeat="root in synth.roots" data-ng-class="{active: synth.root === root}"><a data-ng-click="synth.root = root">{{root.name}}</a></li>
				</ul>
				Chord:<br>
				<ul class="chords clearfix">
					<li data-ng-repeat="(name, chord) in synth.chords" data-ng-class="{active: synth.chord === chord}"><a data-ng-click="synth.chord = chord">{{name}}</a></li>
				</ul>
			</div>
			<div class="third">
				Scale:<br>
				<ul class="list">
					<li data-ng-repeat="(name, scale) in synth.scales" data-ng-class="{active: synth.scale === scale}"><a data-ng-click="synth.scale = scale">{{name}}</a></li>
				</ul>
			</div>
		</div>
		<div data-ng-if="mode === 'sequencer'">
			<div class="buttons">
				<div class="clearfix">
					<span class="right">
						<a data-ng-click="sequencer.addNote()">+</a> &nbsp;&nbsp;
						<span data-ng-if="sequencer.sequence.notes.length > 1">
							<a data-ng-click="sequencer.removeNote()">×</a> &nbsp;&nbsp;
						</span>
						<a data-ng-click="sequencer.prevNote()">&lt;</a>&nbsp;
						[{{sequencer.note + 1}} / {{sequencer.sequence.notes.length}}]&nbsp;
						<a data-ng-click="sequencer.nextNote()">&gt;</a>
					</span>
					Note:
				</div>
				<ul class="notes clearfix">
					<li data-ng-repeat="note in synth.roots" data-ng-class="{active: sequencer.sequence.notes[sequencer.note].note === $index}"><a data-ng-click="sequencer.editNote($index)">{{note.name}}</a></li>
				</ul>
				Chord:<br>
				<ul class="chords clearfix">
					<li data-ng-repeat="(name, chord) in synth.chords" data-ng-class="{active: sequencer.sequence.notes[sequencer.note].chord === name}"><a data-ng-click="sequencer.editChord(name)">{{name}}</a></li>
				</ul>
			</div>
			<div class="third">
				<div class="clearfix">
					<span class="right">
						<a data-ng-click="sequencer.addSequence()">+</a>
						<span data-ng-if="sequencer.sequences.length > 1">
							&nbsp;&nbsp; <a data-ng-click="sequencer.removeSequence()">×</a>
						</span>
					</span>
					Sequences:
				</div>
				<ul class="list">
					<li data-ng-repeat="sequence in sequencer.sequences" data-ng-class="{active: sequencer.sequence === sequence}"><a data-ng-dblclick="sequencer.editName(sequence)" data-ng-click="sequencer.sequence = sequence; sequencer.note = 0">
						<span data-ng-hide="sequence.editName">{{sequence.name}}</span>
						<input data-ng-show="sequence.editName" type="text" data-ng-model="sequence.name" data-ng-change="sequence.editName()" autofocus>
					</a></li>
				</ul>
			</div>
		</div>
		<div class="sliders">
			<div class="row clearfix">
				<div class="half">
					Octave: {{synth.rootOctave}}<br>
					<input data-ng-model="synth.rootOctave" type="range" step="1" min="1" max="6">
				</div>
				<div class="half">
					Range: {{synth.numOctaves}}<br>
					<input data-ng-model="synth.numOctaves" type="range" step="1" min="1" max="4">
				</div>
			</div>
			<div>
				Left axis:<br>
				<label><input data-ng-model="modeL" type="radio" value="pitch"> Pitch</label>
				<label><input data-ng-model="modeL" type="radio" value="volume"> Gain</label>
				<label><input data-ng-model="invertL" type="checkbox"> Invert</label>
			</div>
			<div>
				Right axis:<br>
				<label><input data-ng-model="modeR" type="radio" value="pitch"> Pitch</label>
				<label><input data-ng-model="modeR" type="radio" value="volume"> Gain</label>
				<label><input data-ng-model="invertR" type="checkbox"> Invert</label>
			</div>
			<div class="calibration">
				<button data-ng-hide="calibrating" data-ng-click="calibrate()">Calibrate</button>
				<span>{{calibrating}}</span>
			</div>
		</div>
		<ul class="tabs clearfix">
			<li data-ng-class="{active: mode === 'synth'}"><a data-ng-click="mode = 'synth'">Synth</a></li>
			<li data-ng-class="{active: mode === 'sequencer'}"><a data-ng-click="mode = 'sequencer'; sequencer.switchingNote = false">Sequencer</a></li>
		</ul>
	</div>
</div>
